@media (min-width: 600px){
    main{
        grid-template-columns: repeat(2, 1fr);
        column-gap: 20px;
        margin-left: 20px;
        margin-right: 20px;
        
    }
    header, footer{
        font-size: 1.2rem;
    }
    section{
        font-size: 1.1rem;
    }
    section a{
        font-size: 1.0rem;
    }
    .card-renown{
        grid-column: 1/2;
    }
    .card-ormat{
        grid-column: 2/3;
        margin-top: 0;
        margin-bottom: 0;
    }

    .card-reno{
        grid-column: 1/4;
        margin-top: 20px;
    }
}