body{
    padding: 0;
	margin: 0;

}

header {
	display:grid;
	grid-template-columns: 100px 1fr 150px 1fr;
	grid-template-rows: 80px 25px 1fr 1fr;
	max-width: 100%;
}

header, footer {
  
    background-color: #388045;
    font-family: 'Unbounded', cursive;
    color: white;
	max-width: 100%;
    margin: 0 auto;
    line-height: 1.5;
    text-align: center;
    padding: 5px;
}
 


.logo img {	
	grid-column: 0/2;
	width: 70px;
	border-radius: 5%;
	margin: 0;

}

#heading{
	grid-column: 2/3;
	grid-row: 1/2;
	font-size: .5rem;
   }

   header h1{
    font-size: 1rem;
    margin: 0;
  }
  header h2{
    margin-top: 0px;
  }

.date {
	grid-column: 1/5;
	grid-row:4/5;
	font-size: .80rem;
	background-color: #f0f6d0;
	color: #311d16;
}


 
.social {
	grid-column: 3/4;
	grid-row: 1;
	text-align: right;

}

.social a img {
	width: 25px;
	grid-column: 3/4;
}

nav {
	grid-column: 4/5;
	grid-row: 1;
	margin-top: 0;
	max-width: 760px;
	margin-top: -15px;
	background-color: #388045;
}
.navigation {
	list-style: none;
	margin: 0;
	padding: 0;
}
.navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
}
.navigation a {
	display: block;	
	padding: 0.2rem;
	text-align: center;
	text-decoration: none;
	color: black;
	background-color: #388045;
	font-weight: 700;
	transition: 0.5s;
	font-size: clamp(.5rem, 2vmin, 1rem);
}

#menu::before {
	content: "≡";	
	font-size: 2rem;
}

.navigation a:hover, navigation a:active {
	color: white;
	background-color: black;
}


.responsive li {
	display: block;
	
}

.responsive #menu::before {
	content: "X";
}
main {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
	column-gap: 10px;
	row-gap: 10px;
	text-align: center;

	background-color:#f0f6d0;
	}
	#hero {
		grid-column: 1/6;
		grid-row: 1/2;
		margin: 5px 5px 5px 5px;
		background-color: #388045;
	}
  
  #events {
	grid-column: 1/6;
	grid-row: 2/3;
	margin: 5px 5px 5px 10px;
	background-color: #388045;
  }

  #weather{
	grid-column: 1/6;
	grid-row: 4/5;
	margin: 5px 5px 5px 10px;
	background-color: #388045;
  }

  #join{
	grid-column: 1/6;
	grid-row: 5/6;
	margin: 5px 5px 5px 10px;
	background-color: #388045;
  }
 
  #news {
	grid-column: 1/6;
	grid-row: 6/7;
	background-color: #388045;
	margin: 5px 5px 5px 10px;
	
  }
  #spotlight{
	grid-column: 1/6;
	grid-row: 7/8;
	display: flex;
	flex-direction: column;
	margin: 0 10px 0 0;
  }
  .small-card{
	margin: 5px 0px 5px 0px;
	padding: 113px 0px 113px 0px;
  }

  footer {
	display:grid;
	grid-template-columns:1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	max-width: 100%;
	height:auto;
	padding: 10px;
}