/* Larger viewports */
@media only screen and (min-width: 32.5em) {
    header {
        width:100%;
    }
    
        header img {
            width: 100%;
        }
    
        .headings h1 {
            font-size: 2rem;
            margin: 0;
        }
    
        .m {
            letter-spacing: 1.5pt;
            font-size: 0.9rem;
        }
    .navigation {
            display: flex;
        }
        .navigation li {
            display: block; /* change state in small view */
            flex: 1 1 auto;
        }
        .navigation a {
            text-align: left;
            align-content: stretch;
            padding: 10px;
        }
        .navigation li:first-child {
            display: none;
        }
        .navigation li:first-child {
            display: none;
        }
    }
        
    